html,body{
  margin: 0px;
  height:100%;
  color: #606266;
  font-size:14px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

/********************* 重置样式*********************************/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
  margin: 0;
  padding: 0
}
fieldset,img {
  border: 0
}
img {
  display: block
}
address,caption,cite,code,dfn,th,var {
  font-style: normal;
  font-weight: normal
}
ul,ol {
  list-style: none
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0
}
select,input {
  vertical-align: middle
}
select,input,textarea {
  font-size: 12px;
  margin: 0
}
input[type="text"],input[type="password"],textarea {
  outline-style: none;
  -webkit-appearance: none
}
textarea {
  resize: none
}
table {
  border-collapse: collapse
}
/************************************************************/
#app{
  height:100%;
  overflow: hidden;
}

.container > .asidebar{
  width: 200px;
}

.sidebar-collapse > .asidebar{
  width: 64px;
}

.container > .main,
.container > .main-footer,
.container > .tags-container{
  margin-left: 200px;
}

.sidebar-collapse > .main,
.sidebar-collapse > .main-footer,
.sidebar-collapse > .tags-container{
  margin-left: 64px;
}

.krt-search {
    background-color: #fff;
    border: 1px solid #d2d6de;
    margin-bottom: 5px;
    padding: 15px;
}
.krt-search-form > .el-form-item {
  margin-bottom: 0px;
}
.krt-box{
    position: relative;
    border: 1px solid #d2d6de;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
}
.krt-box-header{
    border-bottom: 1px solid #e7eaec;
    padding: 15px 15px 15px;
}
.krt-box-header >.box-tools {
  position: absolute;
  right: 15px;
  top: 15px;
}
.krt-box-body{
    background-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.krt-box-button{
  padding:8px 0px 8px 0px
}
.krt-page{
  margin-top: 10px;
}
.el-pagination{
  text-align: center;
}
.el-table td, .el-table th{
  padding: 8px 0px;
}

.krt-wrapper{
  padding: 10px;
}


::-webkit-scrollbar-track-piece {
    background-color: #fff; 
  }
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #fff;  
  }
  ::-webkit-scrollbar-thumb { 
    border-radius: 5px;
    background-color: hsla(220,4%,58%,.3);
}

#nprogress .bar{
  background: #409eff;
}

ol, ul {
  list-style: none;
}